<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="~/css/normalize.css">
		<link rel="stylesheet" href="~/css/styles.css">

		@RenderSection("head", required: false)

		<title>@ViewBag.Title - BeltExam</title>
	</head>

	<body>
		@RenderBody()
	</body>
<html>