@{
	ViewBag.Title = "Login/Registration";
}

<h1 class="center-title">
    Welcome to the Dojo Activity Center
</h1>

<div id="content">
    @Html.Partial("Login")
    @Html.Partial("Register")
</div>